---
import Welcome from "../components/Welcome.astro";
import Projects from "../components/Projects.astro";
import Expertise from "../components/Expertise.astro";
import Layout from "../layouts/Layout.astro";
import { pageClasses } from "../consts";

const title = "Topias Martikainen - Software Engineer";
const description =
  "I'm passionate about developing performant and well-designed web experiences";
---

<Layout {title} {description}>
  <div class={pageClasses}>
    <Welcome />
    <Expertise />
    <Projects />
    <footer class="flex flex-wrap gap-1 justify-center mt-8">
      <p class="text-zinc-400 text-sm">© 2025 All rights reserved.</p>
      <p class="text-zinc-400 text-sm">Thanks for checking my website!</p>
    </footer>
  </div>
</Layout>

<style is:global>
  #iam-heading {
    @supports (background-clip: border-box) or
      (-webkit-background-clip: border-box) {
      background-clip: border-box;
      -webkit-background-clip: border-box;
      background-image: linear-gradient(
        25deg,
        #27484a 0%,
        #386c6f 10%,
        #866562 55%,
        #765a57 80%,
        #6b4c49 100%
      );
      background-size: cover;
      background-position: center;
      -webkit-text-stroke: 0.75px #fff1;
    }
  }

  #hello-wave {
    color: var(--main-orange);
    animation: wave 1s infinite;
    transform-origin: bottom;
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      color: transparent;
      clip-path: url(#hello-wave-path);
      background-image: linear-gradient(
        140deg,
        #27484a 0%,
        #386c6f 10%,
        #866562 55%,
        #765a57 80%,
        #6b4c49 100%
      );
      background-size: cover;
      background-position: center;
    }
  }

  @keyframes wave {
    0% {
      transfrom: rotate(0deg);
    }

    33% {
      transfrom: rotate(-15deg);
    }

    66% {
      transform: rotate(15deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  #hello-wave-path {
    transform: scale(0.26);
  }
</style>
