---
import Layout from "../layouts/Layout.astro";
import ResumeContent from "../components/ResumeContent.astro";
import CaretLeft from "phosphor-astro/CaretLeft.astro";
import DownloadSimple from "phosphor-astro/DownloadSimple.astro";
import ThemeBtns from "../components/ThemeBtns.astro";

const title = "Topias Martikainen - Resume";
const description = "My resume highlighting my experience";
---

<Layout {title} {description}>
  <div class="max-w-5xl m-auto px-[calc(2vw+0.5rem)] pt-8 xl:px-4">
    <div class="flex flex-row justify-between mb-1.5 m-auto flex-wrap gap-2">
      <a
        href="/"
        class="text-zinc-400 font-semibold text-sm flex flex-row items-center hover:text-zinc-300 w-fit duration-150 gap-0.5"
      >
        <CaretLeft height="18" font-weight={700} />
        <p class="leading-[1.2]">Landing page</p>
      </a>
      <ThemeBtns />
    </div>
    <div
      class="border-2 border-neutral-800 rounded w-full z-10 bg-neutral-950 relative"
      id="resume"
    >
      <ResumeContent />
    </div>
    <div class="flex texture-bg mt-4 rounded">
      <button
        class="flex flex-row text-zinc-400 font-semibold hover:text-zinc-300 m-auto px-4 py-3 gap-2 items-end duration-150"
      >
        <DownloadSimple height="22" />
        Download PDF
      </button>
    </div>
  </div>
</Layout>
