---
import Layout from "../layouts/Layout.astro";
import CaretLeft from "phosphor-astro/CaretLeft.astro";
import ResumeContent from "../components/ResumeContent.astro";
---

<script>
  let params = new URLSearchParams(document.location.search);
  const theme = params.get("theme") ?? "dark";
  if (theme == "light") {
    const resume = document.getElementById("resume");
    console.log(resume);
    resume!.style.setProperty("filter", "invert(1)");
  }

  const setTheme = (event: Event) => {
    const id = (event.currentTarget as HTMLButtonElement).id;
    const clickedTheme = id.split("-")[0];
    if (clickedTheme != theme)
      document.location = `/resume?theme=${clickedTheme}`;
  };

  const btns = document.querySelectorAll("[id$='-theme-btn']");
  btns.forEach((btn) => {
    btn.addEventListener("click", setTheme);
  });
</script>

<Layout>
  <div class="max-w-5xl m-auto px-[calc(2vw+0.5rem)] pt-2 xl:px-4">
    <a
      href="/"
      class="py-2 text-zinc-600 font-semibold flex flex-row items-center hover:text-zinc-500"
    >
      <CaretLeft height="20" font-weight={700} class="mt-0.5" />
      Back to home
    </a>
    <span class="flex">
      <h4
        class="text-4xl mx-auto font-semibold tracking-wide gradient-heading mt-2"
      >
        My Resume
      </h4>
    </span>
    <div
      class="flex flex-row rounded-full p-1 m-auto bg-black w-min z-10 relative gap-2 mt-2"
    >
      <button
        class="rounded-full size-9 bg-neutral-950 border-2 border-gray-700 hover:opacity-70"
        id="dark-theme-btn"></button>
      <button
        class="rounded-full size-9 bg-zinc-300 border-2 border-gray-500 hover:opacity-70"
        id="light-theme-btn"></button>
    </div>
    <div
      class="border-2 border-neutral-800 rounded w-full mt-6 z-10 bg-neutral-950 relative"
      id="resume"
    >
      <ResumeContent />
    </div>
  </div>
</Layout>
