---
import Layout from "../layouts/Layout.astro";
import CaretLeft from "phosphor-astro/CaretLeft.astro";
import { pageClasses } from "../consts";
import ResumeContent from "../components/ResumeContent.astro";
---

<Layout>
  <div class={pageClasses}>
    <a
      href="/"
      class="py-2 absolute top-2 text-zinc-600 font-semibold flex flex-row text-sm items-center"
    >
      <CaretLeft height="16" font-weight={700} />
      Back to homepage
    </a>
    <span class="flex">
      <h4 class="text-4xl mx-auto font-semibold tracking-wide gradient-heading">
        Resume.
      </h4>
    </span>
    <!-- -->
    <div
      class="px-12 py-8 border-2 border-neutral-800 rounded w-full mt-6 max-w-5xl mx-auto z-10 bg-neutral-950 relative"
    >
      <ResumeContent />
    </div>
  </div>
</Layout>
