---
const linkClasses =
  "underline decoration-[var(--main-green)] font-bold decoration-4 my-0.5 px-1 hover:bg-[var(--main-green)] hover:no-underline hover:rounded hover:pb-0.5 duration-100";
const linkedinUrl = import.meta.env.PUBLIC_LINKEDIN_URL;
---

<div
  class="flex flex-col align-middle font-semibold text-zinc-300 text-xl text-center py-2"
>
  For more info check my
  <div>
    <a href="/resume" class={linkClasses}>Resume</a>
    {
      linkedinUrl && (
        <Fragment>
          {" "}
          &{" "}
          <a href={linkedinUrl} target="_blank" class={linkClasses}>
            LinkedIn
          </a>
        </Fragment>
      )
    }
  </div>
</div>
