<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="I enjoy developing performant and well-designed web experiences"
    />
    <title>Topias Martikainen - Software Engineer</title>
  </head>
  <body class="bg-zinc-950 mb-8">
    <div id="grain"></div>
    <slot />
  </body>
</html>

<style is:global>
  body {
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
  }

  #grain {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.29' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.15;
    -webkit-animation: noise 0.5s steps(2) infinite;
    animation: noise 0.5s steps(2) infinite;
    pointer-events: none;
    z-index: 9;
  }

  @keyframes noise {
    0% {
      transfrom: rotate(0turn);
    }

    100% {
      transform: rotate(1turn);
    }
  }

  .gradient-heading {
    color: var(--main-green);
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient(
        15deg,
        #27484a 0%,
        #386c6f 10%,
        #866562 55%,
        #765a57 80%,
        #6b4c49 100%
      );
      background-size: cover;
      background-position: center;
    }
  }
</style>
