<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-zinc-900">
    <div id="grain"></div>
    <slot />
  </body>
</html>

<style>
  body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
  }

  #grain {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.29' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.1;
    -webkit-animation: noise 0.5s steps(2) infinite;
    animation: noise 0.5s steps(2) infinite;
    transform-style: preserve-3d;
  }

  @keyframes noise {
    0% {
      transfrom: rotate(0turn);
    }

    100% {
      transform: rotate(1turn);
    }
  }
</style>
